<section>
  <header>
    <h1 class="h{{indentLevel}}">
      Images:
    </h1>
  </header>
  <section>
    <header><h1 class="h{{indentLevel2}}">Included As Image Tags</h1></header>
    {{#each htmlImageResources}}
    <div style="display: flex;">
      <div class="image-report-image-container">
        <img src="{{url}}" />
        <div class="image-metadata">
          name: {{basename}}
          <br />type: {{mimeType}}
          {{#each includedFrom}}
            {{#if width}}
              <br />displayed: {{width}}x{{height}}
              <br />natural: {{naturalWidth}}x{{naturalHeight}}
            {{/if}}
          {{/each}}
        </div>
      </div>
    </div>
    {{/each}}
  </section>
  <section>
    <header><h1 class="h{{indentLevel2}}">Included As Background Images</h1></header>
    {{#each styleImageResources}}
    <div style="display: flex;">
      <div class="image-report-image-container">
        <img src="{{url}}" />
        <div class="image-metadata">
          name: {{basename}}
          <br />type: {{mimeType}}
          {{#each includedFrom}}
            {{#if width}}
              <br />displayed: {{width}}x{{height}}
              <br />natural: {{naturalWidth}}x{{naturalHeight}}
            {{/if}}
          {{/each}}
        </div>
      </div>
    </div>
    {{/each}}
  </section>
</section>
