<section>
  <header>
    <h1 class="h{{indentLevel}}">
      Screenshots
    </h1>
  </header>
  <ul class="nav nav-tabs" role="tablist">
    {{#each screenshots}}
    <li role="presentation"><a href="#{{browserName}}-screenshot" aria-controls="{{browserName}}-screenshot" role="tab" data-toggle="tab">{{browserName}}</a></li>
    {{/each}}
  </ul>
  <div class="tab-content">
  {{#each screenshots}}
  <article role="tabpanel" class="tab-pane" data-tab-id="{{browserName}}-screenshot">
    <img src="{{url}}" style="max-width: 100%" alt="screenshot {{browserName}}" />
  </article>
  {{/each}}
  </div>
</section>
