<section>
  <header>
    <h1 class="h{{indentLevel}}">
      Resource path validation:
      <span class="small">{{dangerMessages.length}} errors / {{warningMessages.length}} warnings</span>
    </h1>
  </header>
  <p>{{context}}</p>
  <section>
    <header class="hidden"><h1 class="h{{indentLevel2}}">validation messages</h1></header>
    {{#each messages}}
      <article class="panel panel-{{outputType}}">
        <header class="panel-heading"><h1 class="panel-title">{{outputType}}</h1></header>
        <div class="panel-body">
          <p class="message">{{message}}</p>
        </div>
      </article>
    {{/each}}
  </section>
</section>
